# Server environment variables
PORT=YOUR_NUMBER_PORT
SERVER_URL_NAME="SERVER_URL_NAME"

# Authentication environment variables
JWT_PASSPHRASE="YOUR_JWT_PASSPHRASE"

# Database environment variables
MONGODB_URL="YOUR_MONGODB_URL"

# SEED
SEED_USER_NAME="YOUR_SEED_USER_NAME"
SEED_USER_SURNAME="YOUR_SEED_USER_SURNAME"
SEED_USER_EMAIL="YOUR_SEED_USER_EMAIL"
SEED_USER_PASSWORD="YOUR_SEED_USER_PASSWORD"

# NODEMAILER
NODEMAILER_HOST="YOUR_NODEMAILER_PASS"
NODEMAILER_PORT="YOUR_NODEMAILER_PASS"
NODEMAILER_NAME="YOUR_NODEMAILER_NAME"
NODEMAILER_MAIL="YOUR_NODEMAILER_MAIL"
NODEMAILER_PASS="YOUR_NODEMAILER_PASS"

# CLOUDINARY
CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"
