{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "standard-with-typescript",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "plugins": [
          "module-resolve",
          {
            "alias": {
              "@api": "./src/api",
              "@common": "./src/common",
              "@config": "./src/config",
              "@core": "./src/core",
              "@interfaces": "./src/interfaces",
              "@languages": "./src/languages",
              "@middlewares": "./src/middlewares",
              "@services": "./src/services"
            }
          }
        ]
      }
    ],
    "prettier/prettier": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      }
    }
  }
}
